.header__lang-link{
    color: white;  
    max-width: 30px;
    max-height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1,17;
    text-decoration: none;
    text-align: right;

    
   
}