.header__lang-link{
    color: white;  
    width: 30px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    
   
}