.page {
    background: #2A2C2F;
    max-width: 1280px;
    padding: 0;
    font-family: 'Inter-Black', 'Inter-Bold', 'Inter-Regular, sans-serif;
    box-sizing: border-box ;
}


.lead {
    width: calc(100% - (148px * 2));
    margin: 0 auto;
    padding: 0;
  }
  @media (max-width: 1060px) {
    .lead {
      padding-top: 48px;
      max-width: calc(100% - (48px * 2));
    }
  }
  @media (max-width: 768px) {
    .lead {
      padding-top: 48px;
      max-width: 100%;
    }
  }
  @media (max-width: 320px) {
    .lead {
      padding-top: 48px;
      max-width: 100%;
    }
  }
  


.lead__title{
    color: white;
    max-width: 720px;
    max-height: 200px;
    margin: auto;
    padding: 0;
   

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 120% */

    text-align: center;

}

.lead__subtitle{
    color: white;
    max-width: 640px;
    max-height: 72px;
    margin: auto;
    padding-top: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
   
    
/* or 120% */

text-align: center;

}

.lead__image{

padding-top: 64px;
object-fit: cover;
height: 615px;
width: 984px;
}

.lead__caption{
  color: white;
  margin-top: 2px;
  max-height: 14px;
  max-width: 158px;
  padding: 0;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  white-space: nowrap;

}

.intro{
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 690px;
  max-height: 429px;
  margin: 48px 148px 442px;
  
  


}
.intro__title{
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;

  
/* identical to box height, or 107% */

}
.intro__text{
  min-height: 208px;
  max-width: 690px;
  border-radius: nullpx;
  
}

.intro__list{

}