.page {
    background: #2A2C2F;
    max-width: 1280px;
    padding: 0;
    font-family: 'Inter-Black', 'Inter-Bold', 'Inter-Regular', 'sans-serif';
    box-sizing: border-box ;
}


.lead {
    width: calc(100% - (148px * 2));
    margin: 0 auto;
    padding: 0;
  }
  @media (max-width: 1060px) {
    .lead {
      padding-top: 48px;
      max-width: calc(100% - (48px * 2));
    }
  }
  @media (max-width: 768px) {
    .lead {
      padding-top: 48px;
      max-width: 100%;
    }
  }
  @media (max-width: 320px) {
    .lead {
      padding-top: 48px;
      max-width: 100%;
    }
  }
  


.lead__title{
    color: white;
    max-width: 720px;
    max-height: 200px;
    margin: auto;
    padding: 0;
   

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 120% */

    text-align: center;

}

.lead__subtitle{
    color: white;
    max-width: 640px;
    max-height: 72px;
    margin: auto;
    padding-top: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
   
    
/* or 120% */

text-align: center;

}

.lead__image{

padding-top: 64px;
object-fit: cover;
height: 615px;
width: 984px;
}

.lead__caption{
  color: white;
  margin-top: 5px;
  min-height: 14px;
  max-width: 158px;
  padding: 0;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  white-space: nowrap;

}

.intro{
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 690px;
  min-height: 429px;
  margin-top: 93px;
  margin-left:  148px;
  margin-right:  442px ;
  margin-bottom: 95px;
  padding: 0;

 
  
  


}
.intro__title{
  font-family: Inter;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;

  
/* identical to box height, or 107% */

}
.intro__text{
  min-height: 208px;
  max-width: 690px;
  margin-top: 38px;
  margin-bottom: 18px;
  
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;


  
}

.intro__list{

  max-width: 690px;
  min-height: 90px;
  padding: 0;




}

.intro__list_accon{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
   
}

.photo-grid__list {
  box-sizing: border-box;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
  list-style-type: none;
  gap: 16px 16px;
  margin: 0;
  padding:  0px 48px 92px 48px ;

  
}

.photo-grid__list-item {
  display: block;

}
.photo-grid__item {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.places {
  color: white;
    max-width: 984px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
   
}

.places__list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.place{
  width: 984px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "title  website"
  "image  paragraph-one"
  "image  paragraph-two";
  gap: 40px;
}
.place__title{
  margin: 0;
  padding: 0;
  grid-area: title;
  max-width: 460px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
.place__image{
  grid-area: image;
  
  width: 460px;
  height: 460px;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.website{
  grid-area: website;
  list-style: none;
  max-width: 456px;
  min-height: 46px;
  margin: 0;
  padding: 0;


}
.paragraph-one{
  grid-area: paragraph-one;
  max-width: 484px;
  min-height: 145px;
  

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
}
.paragraph-two{
  grid-area: paragraph-two;
  max-width: 484px;
  min-height: 203px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%
}
