.lead__title{
    color: white;
    max-width: 720px;
    max-height: 200px;
    margin: 0;
    padding-left: 280px;
    padding-right: 280px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 120% */

    text-align: center;

}